version: '2'

services:
    web:
        image: nginx:latest
        container_name: mpt-nginx
        ports:
            - "8080:80"
        volumes:
            - ./code:/code
            - ./logs:/var/log/nginx/
            - ./site.conf:/etc/nginx/conf.d/default.conf
    php:
        build: 
          context: ./
          dockerfile: laravel.docker
        container_name: mpt-laravel
        working_dir: /code
        volumes:
            - ./code:/code
        environment:
            - APP_LOG_LEVEL=debug
    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:6.4.0
        container_name: mpt-elasticsearch
        environment:
          - cluster.name=docker-cluster
          - bootstrap.memory_lock=true
          - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
        ulimits:
          memlock:
            soft: -1
            hard: -1
        ports:
            - "9200:9200"
        volumes:
            - ./data/elastic:/usr/share/elasticsearch/data
